.baner-naslov, 
.baner-podnaslov-trajanje {
 padding-left: 0 !important;
 text-align: center;
}

.baner-naslov {
 padding-top: 2%;
 font-size: 45px;
 font-family: 'Mont-Black';
 color: #fff;
}

.desktop-banner {
 /* background-image: url(https://maxi.sales-snap.com/asset/618:kategorijeizaberi-uvek-svezedesktopbgpng); */
 background-color: #FE000C;
 width: 70%;
 height: auto !important;
 background-repeat: round;
 background-size: contain;
 border-radius: 20px;
}

.baner-podnaslov-trajanje {
 font-size: 20px;
 font-family: 'Mont-Black';
 color: #fff;
}

.header-div + .online-katalog-slika-div:not(.niske-cene) {
 margin-bottom: 5px;
 width: auto !important;
 margin-top: 5px;
}

.online-katalog-slika-div img {
 width: 80%;
 height: auto;
 margin: 0 auto;
 border-radius: 17px;
 position: relative;
 display: block;
}

.mobile-banner {
    width: 97%;
    background-size: unset;
    border-radius: 50px;
    background-color: #FE000C;
    height: auto !important;
    background-repeat: round;
    border-radius: 20px;
}


@media only screen and (max-width: 1000px) {
    .baner-podnaslov-trajanje {
        font-size: 35px !important;
    }

    .desktop-pdf {
        display: none !important;
    }

    .mobile-pdf {
        display: block !important;
    }
}

@media only screen and (min-width: 1000px) {

    .desktop-pdf {
        display: block !important;
    }

    .mobile-pdf {
        display: none !important;
    }
}